@import "~bootstrap/scss/bootstrap";

#main {
    max-width: 900px;
    margin: auto;
    background-color: #F4EAF1FF;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0 20px 0;
}

a {
    color: black;
    text-decoration: none;
}

#galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.item {
    /* border: 1px darkorange solid; */
    margin: 20px;
    padding: 20px;
    background-color: white;
    width: 30%;
    min-width: 300px;
}

.div {
    display: flex;
    justify-content: space-between;
}

#price {
    text-align: right;
}


.image {
    max-width: 90%;
    max-height: 200px;
    display: block;
    margin: auto;
}

.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartImage {
    max-width: 150px;
    display: block;
    margin: 20px;
}

.cartItemName {
    font-size: 1.5rem;
    font-weight: bold;
}

.cart {
    position: relative;
}

.displayRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.displayColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#cartCount {
    font-size : 0.5rem;
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    background-color: yellow;
    font-weight: bolder;
    position: absolute;
    left: 75%;
    bottom: -10%;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.noDisplay {
    display: none;
}

input[type=number] {
    appearance: textarea;
    text-align: center;
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0px;
}

footer {
    font-size: 5rem;
}

.jm_red {
    color: red;
}
